extends layout.pug

block slider
    #blockSlider 
        .container
            .row
                .col-3
                    img(src="images/student.png" width="600px")
                .col
                    h1
                        span Votre nouvelle carri&egrave;re commence ici
                    .description
                        p
                            span
                                | Avec les parcours dipl&ocirc;mants d&apos;OpenClassrooms, vous acc&eacute;dez aux m&eacute;tiers les plus recherch&eacute;s sur le march&eacute;&nbsp;; nous vous accompagnons pas apr&egrave;s pas jusqu&rsquo;&agrave; l&rsquo;emploi.
                            br

block content
    .container
        #blockWorks La liste des cours sera ici